a:hover {
  @apply underline;
  color:rgb(131, 0, 0);
}

body {
font-family: Baskerville Old Face;
  background-color: rgba(255, 255, 255, 0.808);
}

.post {

  color:rgb(131, 0, 0);
  font-family: Baskerville;
  font-size: 40px;

}

.arrow {

  width: 800px;
}

p {
  font-family: Baskerville;
}

a {
  font-family: Baskerville;
}

.title {
  font-family: Baskerville;
  font-size: 65px;
  color: rgb(131, 0, 0);
}
.titled {
  font-family: Baskerville;
  font-size: 40px;
}

.titled:hover {
  font-family: Baskerville;
  font-size: 40px;
  color: rgb(94, 87, 129);
}

p {

  font-family: Baskerville Old Face;
}

h1 {
  font-family: Baskerville Old Face;
}

h2 {
  font-family: Baskerville Old Face;
}
h3 {
  font-family: Baskerville Old Face;
}

h4 {
  font-family: Baskerville Old Face;
}

.text {

font-size: 40px;

}

.z {
  font-size: 40px;
}
