a:hover {
  
  color:rgb(131, 0, 0);
}

html { 
  background: url(bg5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
font-family: Baskerville Old Face;

  background-color: #eeedbc5b;
}

.logoo {

}

.post {

  color:rgb(131, 0, 0);
  font-family: Baskerville;
  font-size: 40px;

}

.prose {

  
}

.next {

  
}

p {
  font-family: Baskerville;
  font-size: 23px;
}

a {
  font-family: Baskerville;
}

.title {
  font-family: Baskerville;
  font-size: 65px;
  color: rgb(131, 0, 0);
}
.titled {
  font-family: Baskerville;
  font-size: 40px;
}

.titled:hover {
  font-family: Baskerville;
  
  color: rgb(170, 0, 0);
}

p {

  font-family: Baskerville Old Face;
}

h1 {
  font-family: Baskerville Old Face;
}

h2 {
  font-family: Baskerville Old Face;
}
h3 {
  font-family: Baskerville Old Face;
}

h4 {
  font-family: Baskerville Old Face;
  font-size: 30px;
}

.text {

font-size: 40px;

}

.z {
  font-size: 35px;
}

.description {

  font-size: 25px;
  color:rgb(80, 46, 46);
}

.hrr {

  height: 3px;
  color: black;
  background-color: black;
}

hr {
  

}
  